#textContainer{
    width: 90%;
    margin: auto;

}
#textContainer>p{
    text-decoration: underline 3px solid red;
    color: rgb(143, 136, 136);
}
#textContainer>div{
    width: 100%;
    margin: auto;
    
}
#textContainer>div>p{
    color: rgb(143, 136, 136);
    
}